/.gitignore:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/.gitignore


--------------------------------------------------------------------------------
/Backend/package-lock.json:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Backend/package-lock.json


--------------------------------------------------------------------------------
/Backend/package.json:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Backend/package.json


--------------------------------------------------------------------------------
/Backend/src/db.js:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Backend/src/db.js


--------------------------------------------------------------------------------
/Backend/src/paths/login.js:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Backend/src/paths/login.js


--------------------------------------------------------------------------------
/Backend/src/paths/register.js:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Backend/src/paths/register.js


--------------------------------------------------------------------------------
/Backend/src/route.js:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Backend/src/route.js


--------------------------------------------------------------------------------
/Backend/src/schema.js:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Backend/src/schema.js


--------------------------------------------------------------------------------
/Backend/src/server.js:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Backend/src/server.js


--------------------------------------------------------------------------------
/Frontend/.gitignore:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/.gitignore


--------------------------------------------------------------------------------
/Frontend/README.md:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/README.md


--------------------------------------------------------------------------------
/Frontend/eslint.config.js:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/eslint.config.js


--------------------------------------------------------------------------------
/Frontend/index.html:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/index.html


--------------------------------------------------------------------------------
/Frontend/package-lock.json:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/package-lock.json


--------------------------------------------------------------------------------
/Frontend/package.json:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/package.json


--------------------------------------------------------------------------------
/Frontend/src/App.css:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/App.css


--------------------------------------------------------------------------------
/Frontend/src/App.jsx:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/App.jsx


--------------------------------------------------------------------------------
/Frontend/src/Component/Badge.jsx:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/Component/Badge.jsx


--------------------------------------------------------------------------------
/Frontend/src/Component/Banner.jsx:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/Component/Banner.jsx


--------------------------------------------------------------------------------
/Frontend/src/Component/CTA.jsx:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/Component/CTA.jsx


--------------------------------------------------------------------------------
/Frontend/src/Component/Feature.jsx:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/Component/Feature.jsx


--------------------------------------------------------------------------------
/Frontend/src/Component/Footer.jsx:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/Component/Footer.jsx


--------------------------------------------------------------------------------
/Frontend/src/Component/Framer.jsx:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/Component/Framer.jsx


--------------------------------------------------------------------------------
/Frontend/src/Component/Freeze.jsx:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/Component/Freeze.jsx


--------------------------------------------------------------------------------
/Frontend/src/Component/Hero.jsx:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/Component/Hero.jsx


--------------------------------------------------------------------------------
/Frontend/src/Component/MarketData.jsx:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/Component/MarketData.jsx


--------------------------------------------------------------------------------
/Frontend/src/Component/Nav.jsx:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/Component/Nav.jsx


--------------------------------------------------------------------------------
/Frontend/src/Component/Overview.jsx:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/Component/Overview.jsx


--------------------------------------------------------------------------------
/Frontend/src/Component/Stock.jsx:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/Component/Stock.jsx


--------------------------------------------------------------------------------
/Frontend/src/Component/Testimonial.jsx:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/Component/Testimonial.jsx


--------------------------------------------------------------------------------
/Frontend/src/Component/TickerTape.jsx:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/Component/TickerTape.jsx


--------------------------------------------------------------------------------
/Frontend/src/Component/TopGainers.jsx:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/Component/TopGainers.jsx


--------------------------------------------------------------------------------
/Frontend/src/Component/Updates.jsx:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/Component/Updates.jsx


--------------------------------------------------------------------------------
/Frontend/src/index.css:
--------------------------------------------------------------------------------
1 | body{
2 |   background-color: black;
3 | }


--------------------------------------------------------------------------------
/Frontend/src/login.css:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/login.css


--------------------------------------------------------------------------------
/Frontend/src/main.jsx:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/main.jsx


--------------------------------------------------------------------------------
/Frontend/src/pages/Dashboard.jsx:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/pages/Dashboard.jsx


--------------------------------------------------------------------------------
/Frontend/src/pages/Home.jsx:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/pages/Home.jsx


--------------------------------------------------------------------------------
/Frontend/src/pages/Layout.jsx:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/pages/Layout.jsx


--------------------------------------------------------------------------------
/Frontend/src/pages/Login.jsx:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/pages/Login.jsx


--------------------------------------------------------------------------------
/Frontend/src/pages/ML.jsx:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/pages/ML.jsx


--------------------------------------------------------------------------------
/Frontend/src/pages/News.jsx:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/pages/News.jsx


--------------------------------------------------------------------------------
/Frontend/src/pages/Register.jsx:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/src/pages/Register.jsx


--------------------------------------------------------------------------------
/Frontend/vite.config.js:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/Frontend/vite.config.js


--------------------------------------------------------------------------------
/ML_model/README.md:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/ML_model/README.md


--------------------------------------------------------------------------------
/ML_model/app.py:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/ML_model/app.py


--------------------------------------------------------------------------------
/ML_model/requirements.txt:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/ML_model/requirements.txt


--------------------------------------------------------------------------------
/ML_model/testing.ipynb:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/ML_model/testing.ipynb


--------------------------------------------------------------------------------
/README.md:
--------------------------------------------------------------------------------
https://raw.githubusercontent.com/mewbemonk/STOCKLY---updated-/HEAD/README.md


--------------------------------------------------------------------------------
